/* Error: expected "{".
 *     ,
 * 374 | >>>>>>> f2d3c21286898ab7409e01abc9144db6ccc6cd14
 *     |                                                 ^
 *     '
 *   sass\3-paginas\cadCurso.scss 374:49  @import
 *   sass\main.scss 19:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 374 \2502  >>>>>>> f2d3c21286898ab7409e01abc9144db6ccc6cd14\d\a     \2502                                                  ^\a     \2575 \a   sass\\3-paginas\\cadCurso.scss 374:49  @import\a   sass\\main.scss 19:9                  root stylesheet';
}
