@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Genos:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-all {
  margin-top: 20px;
  font-family: "Fira Sans", sans-serif;
  background: #1a1a1a;
  color: white;
}
.footer-all .sobre {
  display: flex;
  justify-content: space-around;
}
.footer-all .sobre > p {
  border-bottom: solid 1px green;
  margin-top: 8px;
  margin-bottom: 5px;
}
.footer-all .redes {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid green;
}
.footer-all .redes > P {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.footer-all .informacoes {
  display: flex;
  justify-content: space-around;
}
.footer-all .informacoes .local {
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer-all .informacoes .local :nth-child(1) {
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
}
.footer-all .informacoes .central-relacionamento {
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer-all .informacoes .central-relacionamento :nth-child(1) {
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
}
.footer-all .direitos {
  border-top: solid 1px green;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.navbarAzul {
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: white;
}
.navbarAzul .logoPesquisa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 25px;
}
.navbarAzul .logoPesquisa input[type=text] {
  height: 10px;
  width: 300px;
  padding: 10px;
  border-radius: 50px;
  border: solid 2px #116798;
}
.navbarAzul .logoPesquisa .logoImg {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #116798;
}
.navbarAzul .logoPesquisa .logoImg img {
  margin-right: 40px;
  max-width: 70px;
  max-height: 70px;
}
.navbarAzul .perfilImg img {
  max-width: 35px;
  max-height: 35px;
  border-radius: 100%;
  border: solid 2px #116798;
}
.navbarAzul .catNavbar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.navbarAzul .catNavbar ul :nth-child(1) {
  border-bottom: 2px solid #116798;
  color: #116798;
}
.navbarAzul .catNavbar ul li {
  font-size: 15px;
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
}

.fundoCinza {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: #495057;
  height: 70vh;
}
.fundoCinza .txt {
  color: white;
  text-align: center;
  align-items: center;
  text-align: center;
  max-width: 350px;
  margin: 30px;
  border-bottom: solid 1px #05a052;
}
.fundoCinza .txt p {
  font-size: 15px;
}
.fundoCinza .txt h2 {
  font-size: 30px;
  border-bottom: solid 1px #05a052;
}
.fundoCinza .btnInscrevase input[type=button] {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #05a052;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #05a052;
  bottom: 10px;
}
.fundoCinza .btnInscrevase input[type=button]:hover {
  color: #05a052;
  transform: scale(1.1);
  outline: 2px solid #05a052;
  box-shadow: 4px 5px 17px -4px #05a052;
}
.fundoCinza .btnInscrevase input[type=button]::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #05a052;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}
.fundoCinza .btnInscrevase input[type=button]:hover::before {
  width: 250%;
}

.videoCurso {
  position: absolute;
  left: 33%;
  bottom: 0%;
}
.videoCurso > img {
  max-height: 500px;
  max-width: 500px;
  border-radius: 5px;
  border: solid 2px #05a052;
}

.fundoPreto {
  border-top: solid 2px #05a052;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 27, 27);
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.fundoPreto .interatividades {
  justify-content: center;
  align-items: center;
}
.fundoPreto .interatividades .imgTxt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fundoPreto .interatividades .txtInt {
  display: flex;
  flex-direction: column;
}
.fundoPreto .interatividades .txtInt > p {
  padding-left: 10px;
  max-width: 800px;
}
.fundoPreto .interatividades img {
  max-width: 50px;
  max-height: 50px;
}
.fundoPreto .txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.fundoPreto .txt h2 {
  margin-bottom: 10px;
  margin-top: 50px;
}

.fundoCinza2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #495057;
  border-top: solid 2px #05a052;
  height: 80vh;
  border-bottom: solid 2px #05a052;
}
.fundoCinza2 h3 {
  margin-top: 40px;
  color: white;
}
.fundoCinza2 .coment {
  max-height: 100px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 50%;
  justify-content: center;
  background-color: rgb(236, 236, 236);
  padding: 5px 5px 5px 20px;
  border-radius: 5px;
}
.fundoCinza2 .coment .perfilComent {
  display: flex;
}
.fundoCinza2 .coment .perfilComent > p {
  margin-left: 15px;
}
.fundoCinza2 .coment img {
  border-radius: 100%;
  height: 33px;
  width: 33px;
}

.fundoPreto2 {
  width: 100%;
  height: 90vh;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fundoPreto2 .btnEntrar input[type=button] {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #05a052;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #05a052;
  bottom: 10px;
}
.fundoPreto2 .btnEntrar input[type=button]:hover {
  color: #05a052;
  transform: scale(1.1);
  outline: 2px solid #05a052;
  box-shadow: 4px 5px 17px -4px #05a052;
}
.fundoPreto2 .btnEntrar input[type=button]::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #05a052;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}
.fundoPreto2 .btnEntrar input[type=button]:hover::before {
  width: 250%;
}
.fundoPreto2 img {
  max-width: 500px;
  max-height: 500px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #24F48C;
  border-radius: 10px;
}

.conteiner {
  padding: 15px;
  margin-top: 10px;
  display: flex;
  width: 100%;
}
.conteiner .lado-esquerdo {
  margin-top: 50px;
  background-color: #343a40;
  width: 35%;
  border: 4px solid gray;
  background-color: #212121;
  border-radius: 5px;
}
.conteiner .lado-esquerdo .conteudo {
  padding: 1px;
}
.conteiner .lado-esquerdo .conteudo h1 {
  background-color: #6c757d;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 0px 0px 15px 15px;
  border-bottom: 2px solid green;
}
.conteiner .lado-esquerdo .conteudo .caixa-cont {
  padding: 10px;
  margin: 20px 10px;
  color: white;
  border: 2px solid #24F48C;
  border-radius: 4px;
  text-align: center;
}
.conteiner .lado-esquerdo .conteudo .caixa-cont .checkin {
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 10px;
  height: 25px;
  width: 25px;
}
.conteiner .lado-esquerdo .conteudo .caixa-cont h3 {
  display: inline;
}
.conteiner .lado-direito {
  background-color: #343a40;
  width: 100%;
}
.conteiner .lado-direito .conteudo {
  margin: 0 auto;
  margin-top: 0px;
  width: 990px;
  padding: 30px;
}
.conteiner .lado-direito .conteudo h1 {
  color: white;
  padding: 10px;
}
.conteiner .lado-direito .links-inferiores ul {
  display: flex;
  list-style-type: none;
}
.conteiner .lado-direito .links-inferiores ul li {
  color: white;
  padding: 10px;
  font-size: 25px;
}
.conteiner .lado-direito .conteudo-inferior {
  background-color: #434343;
  border-radius: 5px;
  padding: 20px;
}
.conteiner .lado-direito .conteudo-inferior p {
  font-size: 20px;
  text-align: justify;
  padding: 5px;
  color: white;
}

.footer {
  height: 1000px;
  color: orange;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  overflow: auto;
  background: linear-gradient(315deg, #C9FBFA 3%, rgb(60, 132, 206) 38%, rgb(48, 238, 226) 68%, #002B5C 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/*# sourceMappingURL=main.css.map */
