@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #24F48C;
  border-radius: 10px;
}

body {
  background-color: #2f2f2f;
}

.linha-superior {
  width: 100%;
  height: 10px;
}

.topo {
  color: white;
}
.topo .header .lista {
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: space-between;
  background-color: #495057;
  padding: 10px 25px 15px 10px;
  box-shadow: 0px 15px 12px -1px rgba(0, 0, 0, 0.58);
}
.topo .header .lista p {
  border-top: solid 2px black;
  width: 90px;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
}
.topo .header .lista p a {
  text-decoration: none;
  color: white;
}
.topo .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #495057;
  margin-left: 60px;
  margin-right: 60px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top: 6px;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
}
.topo .nav .btnLogin {
  display: flex;
}
.topo .nav .btnLogin p {
  margin: 10px;
  padding: 5px;
  font-family: "Fira Sans", sans-serif;
  border-radius: 6px;
}
.topo .nav .btnLogin p:hover {
  background: rgb(9, 106, 86);
  transition: 0.3s;
  cursor: pointer;
}
.topo .nav input[type=text] {
  border-radius: 8px;
  height: 25px;
  width: 300px;
  border: solid 1px #000000;
  padding-left: 5px;
}
.topo .logo {
  display: flex;
  text-align: center;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
}
.topo .logo img {
  width: 50px;
}

.banner {
  box-shadow: 0px 15px 12px -1px rgba(0, 0, 0, 0.58);
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  background-color: #495057;
  border-radius: 5px;
  font-family: "Fira Sans", sans-serif;
}
.banner .banner-titulo {
  display: flex;
  justify-content: space-between;
}
.banner .titulo > p {
  color: white;
  font-size: 30px;
}
.banner .titulo img {
  width: 300px;
  height: 300px;
}
.banner .titulo-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-width: 50%;
  border: 3px solid rgb(3, 76, 3);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  /*   input[type=button]{
                  border-radius: 15px;
                  height: 50px;
                  width: 100px;
                  font-size: 20px;
                  cursor: pointer;
                  margin-top: 30px;
              }
  */
}
.banner .titulo-btn img {
  max-width: 400px;
  max-height: 200px;
}

.multi {
  display: flex;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0px 15px 12px -1px rgba(0, 0, 0, 0.58);
}
.multi .conteudo-infs {
  font-family: "Fira Sans", sans-serif;
  background-color: #495057;
  width: 100%;
  margin-left: 20px;
  border-radius: 5px;
}
.multi .conteudo-infs p:nth-child(1) {
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  margin-top: 18px;
}
.multi .conteudo-infs p:nth-child(2) {
  font-size: 18px;
  font-style: italic;
  margin-top: 10px;
}
.multi .conteudo-infs p:nth-child(3) {
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
}
.multi .conteudo-infs p:nth-child(4) {
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
}
.multi .video {
  background-color: #495057;
  padding: 5px;
  border-radius: 5px;
}

.footer-all {
  margin-top: 20px;
  font-family: "Fira Sans", sans-serif;
  background: #1a1a1a;
  color: white;
}
.footer-all .sobre {
  display: flex;
  justify-content: space-around;
}
.footer-all .sobre > p {
  border-bottom: solid 1px green;
  margin-top: 8px;
  margin-bottom: 5px;
}
.footer-all .redes {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid green;
}
.footer-all .redes > P {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.footer-all .informacoes {
  display: flex;
  justify-content: space-around;
}
.footer-all .informacoes .local {
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer-all .informacoes .local :nth-child(1) {
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
}
.footer-all .informacoes .central-relacionamento {
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer-all .informacoes .central-relacionamento :nth-child(1) {
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
}
.footer-all .direitos {
  border-top: solid 1px green;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.tudo-sugest {
  display: flex;
  font-family: "Fira Sans", sans-serif;
  color: white;
  justify-content: space-between;
}
.tudo-sugest .esquerda {
  max-width: 50%;
  border-bottom-left-radius: 10px;
}
.tudo-sugest .esquerda .esquerda-txt {
  max-width: 50%;
}
.tudo-sugest .esquerda img {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  margin: 5px;
  margin-right: 20px;
}
.tudo-sugest .esquerda .esquerda-cima {
  display: flex;
  margin-left: 60px;
  margin-top: 20px;
  background-color: #434343;
  padding: 10px;
  box-shadow: 0px 15px 12px -1px rgba(0, 0, 0, 0.58);
}
.tudo-sugest .esquerda .esquerda-cima .inf {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}
.tudo-sugest .esquerda .esquerda-cima input[type=button] {
  width: 100%;
  margin-left: 10px;
  height: 35px;
  font-family: "Fira Sans", sans-serif;
  cursor: pointer;
  border-radius: 4px;
  background: rgb(37, 190, 113);
  color: rgb(255, 255, 255);
  border: solid 1px rgb(0, 0, 0);
  box-shadow: 6px 7px 0px 0px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}
.tudo-sugest .esquerda .esquerda-cima input[type=button]:hover {
  background: rgb(9, 106, 86);
}
.tudo-sugest .esquerda .esquerda-baixo {
  margin-left: 60px;
  margin-top: 20px;
  background-color: #434343;
  padding: 10px;
  box-shadow: 0px 15px 12px -1px rgba(0, 0, 0, 0.58);
}
.tudo-sugest .direita {
  width: 50%;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 60px;
  background-color: #434343;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 15px 12px -1px rgba(0, 0, 0, 0.58);
}
.tudo-sugest .direita .direita-txt {
  text-align: center;
}
.tudo-sugest .direita .direita-curso {
  align-items: center;
  font-size: 25px;
}
.tudo-sugest .direita .direita-curso .img-curso {
  display: flex;
  margin-top: 10px;
  border-bottom: solid 1px rgb(255, 255, 255);
}
.tudo-sugest .direita .direita-curso .img-curso .avaliacao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tudo-sugest .direita .direita-curso img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  border-radius: 5px;
  margin-bottom: 2px;
}
.tudo-sugest .estrela {
  display: flex;
  font-size: large;
}/*# sourceMappingURL=style.css.map */