$cor-primaria: #495057;
$cor-secundaria:#24f48c;
$cor-base-website: #1a1a1a;
$margin-total:60px;
$font-primaria: 'Fira Sans', sans-serif;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;