.caixa-atividades
    box-shadow: 8px 8px 8px #8293be
    background-color: #fff
    width: 80%
    margin: 10px auto
    padding: 30px

    #atv-head
        font-weight: lighter
        margin-bottom: 10px

    #txt-addAtv
        font-size: 25px
        margin-bottom: 10px

    .controle-atv
        background-color: lightblue
        box-shadow: 8px 8px 8px #8293be
        padding: 10px
        //width: 70%

        #addQuestao, #delQuestao, #salvarAtv
            width: 25%
            font-size: 18px
            border-radius: 5px

        #selectAll
            width: 30px
            height: 30px
            margin: 5px
            position: relative
            top: 8px

    #atv
        background-color: #113469
        box-shadow: 8px 8px 8px #8293be
        color: #fff
        //border-radius: 5px
        padding: 10px

        .questao
            padding: 10px
            border: 3px dashed #5a5acb
            margin-bottom: 8px

            .checkboxQuestao
                width: 30px
                height: 30px
                position: relative

            .numeracao
                position: relative
                width: 5px


            .pergunta, .explicacao
                height: 50px
                font-size: 18px
                padding: 5px
                margin-left: 10px
                border-radius: 5px
                width: 80%
                position:  relative
                top: 20px

            .explicacao
                margin-left: 48px
                margin-bottom: 15px

            .contCaractExplicacao
                position: relative
                top: -10px
                margin-left: 5px

            .addResposta
                position: relative
                top: -5px

            .contCaractQuestao, .contCaractResp
                font-size: 16px
                margin: 5px
                position: relative
                //top: -20px
        
            .radioResposta
                width: 25px
                height: 25px
                position: relative
                margin-left: 10px
                position: relative
                top: 15px

            .numResp
                display: none

            .resposta
                width: 50%
                height: 40px
                font-size: 18px
                padding: 5px
                margin-left: 10px
                display: block
                margin-top: 10px
                border-radius: 5px
                position:  relative
                top: -5px

            .ordemResposta
                display: flex
                margin: 10px 10px
                padding: 5px