.caixa-atividades
    background-color: #fff
    width: 80%
    margin: 10px auto
    padding: 30px

    #atv-head
        font-weight: lighter
        margin-bottom: 10px

    #txt-addAtv
        font-size: 25px
        margin-bottom: 10px

    .controle-atv
        background-color: lightblue
        box-shadow: 2px 8px 8px grey
        padding: 10px
        //width: 70%

        #addQuestao, #delQuestao, #salvarAtv
            width: 25%
            font-size: 18px
            border-radius: 5px

        #selectAll
            width: 30px
            height: 30px
            margin: 5px

    #atv
        background-color: #113469
        color: #fff
        border-radius: 5px
        padding: 10px

        .questao

            .pergunta, .explicacao
                height: 50px
                font-size: 18px
                padding: 5px
                margin-left: 10px
                border-radius: 5px
                width: 35%

            .addResposta
                position: relative
                top: -20px

        