.formVideoPreview{
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    margin: 50px;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;

        input[type=submit]{
            width: 100px;
            height: 40px;
            margin: 10px;
            cursor: pointer;
        }
        input[type=file]{
            
            height: 40px;
            margin: 10px;
            cursor: pointer;
        }
        h2{
            margin: 10px;
            color: $cor-primaria;
        }
}
#videoPreview{
    width: 500px;
    border-radius: 10px;
    max-height: 400px ;
}