@import url('https://fonts.cdnfonts.com/css/itc-benguiat-std');

.allPageCadCurso{
  font-family: 'ITC Benguiat Std', sans-serif;
  font-style: italic;
  background-color: white;
  margin: 5%;
  border-radius: 20px;
  padding: 3%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  img{
      max-width: 100px;
      animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  .topCadCurso{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .centerCadCurso{
    width: 100%;
    text-align: center;
    font-size: 20px;
    .btnCurso {
      width: 50%;
      height: 45px;
      margin: 45px;
      --border-color: linear-gradient(-45deg, #00ff9d, #0367aa, #00fffb);
      --border-width: .125em;
      --curve-size: .5em;
      --blur: 30px;
      --bg: #080312;
      --color: #afffff;
      color: var(--color);
        /* use position: relative; so that BG is only for .btnCurso */
      position: relative;
      isolation: isolate;
      display: inline-grid;
      place-content: center;
      padding: .5em 1.5em;
      font-size: 17px;
      border: 0;
      text-transform: uppercase;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
      clip-path: polygon(
                /* Top-left */
                0% var(--curve-size),
    
                var(--curve-size) 0,
                /* top-right */
                100% 0,
                100% calc(100% - var(--curve-size)),
    
                /* bottom-right 1 */
                calc(100% - var(--curve-size)) 100%,
                /* bottom-right 2 */
                0 100%);
      transition: color 250ms;
    }
    
    .btnCurso::after,
    .btnCurso::before {
      content: '';
      position: absolute;
      inset: 0;
    }
    
    .btnCurso::before {
      background: var(--border-color);
      background-size: 300% 300%;
      animation: move-bg7234 5s ease infinite;
      z-index: -2;
    }
    
    @keyframes move-bg7234 {
      0% {
        background-position: 31% 0%
      }
    
      50% {
        background-position: 70% 100%
      }
    
      100% {
        background-position: 31% 0%
      }
    }
    
    .btnCurso::after {
      background: var(--bg);
      z-index: -1;
      clip-path: polygon(
                /* Top-left */
                var(--border-width) 
                calc(var(--curve-size) + var(--border-width) * .5),
    
                calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
    
                /* top-right */
                calc(100% - var(--border-width)) 
                var(--border-width),
    
                calc(100% - var(--border-width)) 
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
    
                /* bottom-right 1 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
                /* bottom-right 2 */
                var(--border-width) calc(100% - var(--border-width)));
      transition: clip-path 500ms;
    }
    
    .btnCurso:where(:hover, :focus)::after {
      clip-path: polygon(
                    /* Top-left */
                    calc(100% - var(--border-width)) 
    
                    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
        
                    calc(100% - var(--border-width))
    
                    var(--border-width),
        
                    /* top-right */
                    calc(100% - var(--border-width))
    
                     var(--border-width),
        
                    calc(100% - var(--border-width)) 
    
                    calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
        
                    /* bottom-right 1 */
                    calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                    calc(100% - var(--border-width)),
    
                    /* bottom-right 2 */
                    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                    calc(100% - var(--border-width)));
      transition: 200ms;
    }
    
    .btnCurso:where(:hover, :focus) {
      color: #fff;
    }
    }

  .pf-frase{
    margin-top: 20px;
    width: 100%;
    display: flex;
    border: 3px solid #0367aa;
    padding: 10px;
    border-radius: 1px;
    background-color: #080312;
    h3{
      text-align: center;
      width: 100%;
      color: #fff;
    }

  }
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    //overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   
  }
  
  /* Modal Content/Box */
  .modal-content {
    // background: linear-gradient(50deg,#002B5C, $azul , #C9FBFA  );
   // background-color: #0367aa;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    width: 60%; /* Could be more or less, depending on screen size */
    height: 80%;
    border-radius: 20px;
    background-image: linear-gradient(70deg, $cor-primaria 0, $cor-primaria 70%, #ffffff 30%);

    .cadCursoModal{
     // background-color: $cor-primaria;
      padding: 10px;
      border-radius: 20px;
      color: white;
      display: flex;
      width: 100%;
      justify-content: space-between;
      >img{
        max-width: 500px;
        max-height: 500px;
      }
      form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
        text-align: center;
        gap: 5px;
        
        input[type=text]{
          height: 30px;
          border: none;
          outline: none;
          padding: 5px;
          border-radius: 5px;
          border-bottom: 2px solid rgb(0, 0, 0);
          border-right: 2px solid rgb(0, 0, 0);
          
          
      }input[type=file]{
        height: 30px;
        border: none;
        outline: none;
        padding: 5px;
        border-radius: 5px;
        width: 100%;
        background-color: white;
        color: black;
        border-bottom: 2px solid rgb(0, 0, 0);
        border-right: 2px solid rgb(0, 0, 0);
        
        
    }
      input[type=submit]{
        width: 10em;
        position: relative;
        height: 3.5em;
        border: 3px ridge #149CEA;
        outline: none;
        background-color: rgb(61, 61, 61);
        color: white;
        transition: 1s;
        border-radius: 0.3em;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 20px;
 
        
        
      }
      input[type=submit]::after {
        content: "";
        position: absolute;
        top: -10px;
        left: 3%;
        width: 95%;
        height: 40%;
        background-color: #212121;
        transition: 0.5s;
        transform-origin: center;
       }
      input[type=submit]::before {
        content: "";
        transform-origin: center;
        position: absolute;
        top: 80%;
        left: 3%;
        width: 95%;
        height: 40%;
        background-color: #212121;
        transition: 0.5s;
       }
       input[type=submit]:hover:before, input[type=submit]:hover::after{
        transform: scale(0)
      }
         input[type=submit]:hover{
          background-color:  #0b2646;
          
         }
         
      select{
        
        border: none;
        outline: none;
        height: 30px;
        border-radius: 10px;
        border-bottom: 2px solid rgb(0, 0, 0);
        border-right: 2px solid rgb(0, 0, 0);
        
        
      }
      textarea{
        resize: none;
        outline: none;
        border: none;
        border-radius: 10px;
        padding-left: 5px;
        padding-top: 5px;
        border-bottom: 2px solid rgb(0, 0, 0);
        border-right: 2px solid rgb(0, 0, 0);
        
      }
     
    }
  }
}
.thumbCurso{
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    height: 150px;
    
  
}
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }