@import url('https://fonts.cdnfonts.com/css/itc-benguiat-std');
.allPageCadCurso{
  font-family: 'ITC Benguiat Std', sans-serif;
  font-style: italic;
  background-color: white;
  margin: 5%;
  border-radius: 20px;
  padding: 3%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  img{
      max-width: 100px;
      animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  .topCadCurso{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .centerCadCurso{
    width: 100%;
    text-align: center;
    font-size: 20px;
    .btnCurso {
      width: 50%;
      height: 45px;
      margin: 45px;
      --border-color: linear-gradient(-45deg, #00ff9d, #0367aa, #00fffb);
      --border-width: .125em;
      --curve-size: .5em;
      --blur: 30px;
      --bg: #080312;
      --color: #afffff;
      color: var(--color);
        /* use position: relative; so that BG is only for .btnCurso */
      position: relative;
      isolation: isolate;
      display: inline-grid;
      place-content: center;
      padding: .5em 1.5em;
      font-size: 17px;
      border: 0;
      text-transform: uppercase;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
      clip-path: polygon(
                /* Top-left */
                0% var(--curve-size),
    
                var(--curve-size) 0,
                /* top-right */
                100% 0,
                100% calc(100% - var(--curve-size)),
    
                /* bottom-right 1 */
                calc(100% - var(--curve-size)) 100%,
                /* bottom-right 2 */
                0 100%);
      transition: color 250ms;
    }
    
    .btnCurso::after,
    .btnCurso::before {
      content: '';
      position: absolute;
      inset: 0;
    }
    
    .btnCurso::before {
      background: var(--border-color);
      background-size: 300% 300%;
      animation: move-bg7234 5s ease infinite;
      z-index: -2;
    }
    
    @keyframes move-bg7234 {
      0% {
        background-position: 31% 0%
      }
    
      50% {
        background-position: 70% 100%
      }
    
      100% {
        background-position: 31% 0%
      }
    }
    
    .btnCurso::after {
      background: var(--bg);
      z-index: -1;
      clip-path: polygon(
                /* Top-left */
                var(--border-width) 
                calc(var(--curve-size) + var(--border-width) * .5),
    
                calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
    
                /* top-right */
                calc(100% - var(--border-width)) 
                var(--border-width),
    
                calc(100% - var(--border-width)) 
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
    
                /* bottom-right 1 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
                /* bottom-right 2 */
                var(--border-width) calc(100% - var(--border-width)));
      transition: clip-path 500ms;
    }
    
    .btnCurso:where(:hover, :focus)::after {
      clip-path: polygon(
                    /* Top-left */
                    calc(100% - var(--border-width)) 
    
                    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
        
                    calc(100% - var(--border-width))
    
                    var(--border-width),
        
                    /* top-right */
                    calc(100% - var(--border-width))
    
                     var(--border-width),
        
                    calc(100% - var(--border-width)) 
    
                    calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
        
                    /* bottom-right 1 */
                    calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                    calc(100% - var(--border-width)),
    
                    /* bottom-right 2 */
                    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                    calc(100% - var(--border-width)));
      transition: 200ms;
    }
    
    .btnCurso:where(:hover, :focus) {
      color: #fff;
    }
    }

  .pf-frase{
    margin-top: 20px;
    width: 100%;
    display: flex;
    border: 3px solid #0367aa;
    padding: 10px;
    border-radius: 1px;
    background-color: #080312;
    h3{
      text-align: center;
      width: 100%;
      color: #fff;
    }

  }
  }
