.principal-certificado
    margin: 0 auto
    margin-top: 20px
    display: flex
    width: 1280px
    height: 720px
    background-color: white
    border: 1px solid black
    justify-content: space-between

    .patrono-neves-certificado
        background-color: #05347e
        height: 720px
        width: 120px
        z-index: 1

        .caixa-pn
            margin-top: 60px
            .pn-letter
                color: white
                text-align: center
                font-size: 40px

    .conteudo-principal
        text-align: center
        width: 40%

    .conteudo-lateral-direito
        padding: 0px 90px
        width: 300px
        .bloco-superior
            width: 100px
            height: 200px
            background-color: #1c2143

        .logo
            img
                width: 200%
                position: relative
                top: -80px
                left: -70px

        .bloco-inferior
            width: 100px
            height: 200px
            background-color: #1c2143
            position: relative
            bottom: -75px

.linha
    width: 250px
    height: 50px
    background-color: #116798
    height: 10px
    position: relative
    top: 70px
    left: -30px
    transform: rotate(323deg)
    
.linha2
    width: 250px
    height: 50px
    background-color: #116798
    height: 10px
    position: relative
    bottom: -625px
    left: -30px
    transform: rotate(36deg)

.caixa-linha
    position: relative
    left: -80px

    #detalhe
        height: 718px
        