$font:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   /* Estilos para o slider */
.cardes-sliders {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none; /* Oculta a barra de rolagem do navegador */
    -ms-overflow-style: none; /* Oculta a barra de rolagem do IE/Edge */
    white-space: nowrap; /* Impede que os cartões se quebrem em várias linhas */
}

.cardes-sliders::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem do Chrome/Safari */
}

.cardes {
    flex: 0 0 300px; /* Largura de cada cartão */
    margin-right: 16px; /* Espaçamento entre os cartões */
    padding: 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;

}
