$font:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   /* Estilos para o slider */
.cardes-sliders {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none; /* Oculta a barra de rolagem do navegador */
    -ms-overflow-style: none; /* Oculta a barra de rolagem do IE/Edge */
    white-space: nowrap; /* Impede que os cartões se quebrem em várias linhas */
}

.cardes-sliders::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem do Chrome/Safari */
}

.cardes {
    flex: 0 0 300px; /* Largura de cada cartão */
    margin-right: 16px; /* Espaçamento entre os cartões */
    padding: 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;

}
// .product {
//     position: relative;
//     overflow: hidden;
//     padding-left: 50px;
//     padding-top: 10px;
//     margin: 50px;
//     background-color: #f3f3f3;
//     border-radius: 30px;
    
//   }
  
//   .product-category {
//     padding: 0 10vw;
//     font-size: 25px;
//     font-weight: 300;
//     margin-bottom: 10px;
//     color: #000000;
//     width: 100%;
//     text-align: center;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     p{
//         margin-bottom: 10px ;
//     }
//     .linha{
//         width: 35%;
//         height: 5px;
//         background-color: $cor-primaria;
//         border-radius: 10px;
//     }
//   }
  
//   .product-container {
//     padding: 0 50px;
//     display: flex;
//     overflow-x: auto;
//     scroll-behavior: smooth;
    
//   }
  
//   .product-container::-webkit-scrollbar {
//     display: none;
//   }
  
//   .product-card {
//     flex: 0 0 auto;
//     width: 150px;
//     height: 180px;
//    img{
//     border-radius: 5px;
//    }
//   }
  
//   .product-image {
//     position: relative;
//     width: 110px;
//     height: 110px;
//     overflow: hidden;
//   }
  
//   .product-thumb {
//     width: 100%;
//     height: 100%;
    
//   }
  
//   .discount-tag {
//     position: absolute;
//     background: #fff;
//     padding: 5px;
//     border-radius: 5px;
//     color: #ff7d7d;
//     right: 10px;
//     top: 10px;
//     text-transform: capitalize;
//   }
  


//   .product-brand {
//     font-size: 20px;
//   }
  
//   .product-short-description {
//     width: 100%;
//     height: 20px;
//     line-height: 20px;
//     overflow: hidden;
//     opacity: 0.5;
//     text-transform: capitalize;
//     margin: 5px 0;
//   }
  
  
  

//   .preS-btn,
//   .nxtS-btn {
//     border: none ;  
//     width: 10vw ;
//     height: 100% ;
//     position: absolute;
//     top: 0;
//     border-radius: 0px ;
//     border-top-right-radius: 10px ;
//     border-bottom-right-radius: 10px ;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background: none ;
//     cursor: pointer;
//     z-index: 8;
//   }
  
//   .preS-btn {
//     left: 0;
//     transform: rotate(180deg);
//   }
  
//   .nxtS-btn {
//     right: 0;
//   }
  
//   .preS-btn img,
//   .nxtS-btn img {
//     opacity: 0.2 ;
//     max-width: 50px;
//     max-height: 50px;
//   }
  
//   .preS-btn:hover img,
//   .nxtS-btn:hover img {
//     opacity: 1 ;
//   }
  
 




