$font:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
.product {
    position: relative;
    overflow: hidden;
    padding-left: 50px;
    padding-top: 10px;
    margin: 50px;
    background-color: #f3f3f3;
    border-radius: 30px;
    
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #000000;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
        margin-bottom: 10px ;
    }
    .linha{
        width: 35%;
        height: 5px;
        background-color: $cor-primaria;
        border-radius: 10px;
    }
  }
  
  .product-container {
    padding: 0 50px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 150px;
    height: 180px;
   img{
    border-radius: 5px;
   }
  }
  
  .product-image {
    position: relative;
    width: 110px;
    height: 110px;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    
  }
  
  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  


  .product-brand {
    font-size: 20px;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  
  

  .pre-btn,
  .nxt-btn {
    border: none !important;  
    width: 10vw !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    border-radius: 0px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, #ffffff 100%) !important;
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2 !important;
    max-width: 50px;
    max-height: 50px;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1 !important;
  }
  
 




