*{
    margin: 0;
    padding: 0;
    
}
$azul : #116798;
$teste: #9b9b9b;
$font:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Genos:wght@600&display=swap');

body{
    margin: auto;
    overflow: auto;
    background: linear-gradient(50deg, #C9FBFA, $azul, #002B5C );

    
}



//imagens de cursos na tela inicial começa aqui

.banner{
    display: flex;
    margin: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);

    @include mobile{
      flex-direction: column;
    }
    @include tablet{
      flex-direction: column;
    }
    @include notebook{
      flex-direction: column;
    }
    @include monitor{
      flex-direction: column;
    }
    >img{
        width: 550px;
        height: 550px;


        @include mobile{
          width: 100%;
          height: 100%;
        }
        @include tablet{
          width: 100%;
          height: 100%;
        }

    }
}

.beneficios{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  @include mobile{
    flex-direction: column;
    justify-content: center;
  }
  @include tablet{
    flex-direction: column;
    justify-content: center;
  }
  @include notebook{
    margin-bottom: 40px;
  }

  .card {
    width: 190px;
    height: 254px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    @include mobile{
      margin: 0 auto;
      margin-bottom: 40px;
    }
    @include tablet{
      margin: 0 auto;
      margin-bottom: 40px;
    }
    @include monitor{
      margin: 0 auto;
      margin-bottom: 40px;
    }
    
  }
  
  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
  
    img{
      max-width: 80px;
      position: absolute;
      left: 5px;
      bottom: 5px;
    }
    :nth-child(2){
      padding-top: 100px;
      p{
        height: 100%;
        text-align: center;
        font-size: 18px;
      }
    }
  }
  
  .card:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(rgb(0, 98, 255), $azul);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);}}
  // .card {
  //     width: 200px;
  //     height: 250px;
  //     background-image: linear-gradient(163deg, $azul 0%, #006eff 100%);
  //     border-radius: 20px;
  //     transition: all .3s;

  //     @include mobile{
  //       margin: 0 auto;
  //       margin-top: 10px;
  //     }
  // }

  //    .card2 {
  //     width: 200px;
  //     height: 250px;
  //     background-color: rgb(238, 238, 238);
  //     border: solid 2px $azul;
  //     border-radius: 20px;
  //     transition: all .2s;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     text-align: center;
  //     >img{
  //         margin-top: 10px;
  //         width: 80px;
  //         height: 80px;
  //     }
  //     :nth-child(2){
  //         font-style: italic;
  //         font-weight: bold;
  //         margin-top: 10px;
  //         font-size: 18px;

  //     }
  //     :nth-child(3){
  //         margin: 10px;
  //     }
  //    }
  //    .card2:hover {
  //     //transform: scale(0.98);
  //     border-radius: 20px;

  //    }
  //    .card:hover {
  //     box-shadow: 0px 0px 30px 1px rgba(60, 132, 206, 1);
  //      cursor: pointer;
  //    }
}

.txtCursos{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    color: white;
    margin-top: 5%;
}
.cursosAreas{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    @include mobile{
      flex-direction: column;
      justify-content: center;
    }
    @include tablet{
      flex-wrap: wrap;
      justify-content: center;
    }
    @include notebook{
      flex-wrap: wrap;
      justify-content: center;
    }
}

   .cardCurso {
    width: 190px;
    height: 254px;
    background: rgb(255, 255, 255);
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    -webkit-box-shadow: 10px 9px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 20px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 20px -5px rgba(0,0,0,0.75);
     @include mobile{
       margin: 0 auto;
       margin-top: 10px;
       width: 80%;
     }
     @include tablet{
      margin: 0 auto;
      margin-top: 10px;
      width: 40%;
    }
    @include notebook{
      margin: 0 auto;
      margin-top: 10px;
      width: 40%;
    }
  }
  
  .cardCurso h2 {

    z-index: 1;
    color: white;
    align-items: center;
    font-size: 20px;
    
  }
  
  .cardCurso::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(0, 247, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .cardCurso::after {
    content: '';
    position: absolute;
    background: $azul;
    ;
    inset: 5px;
    border-radius: 15px;
  }  
  /* .card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } */
  .perguntasFrequentesTudo{
   // border-top: solid 2px white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img{
      max-width: 500px;
        @include mobile{
          display: none;
        }
        @include tablet{
          display: none;
          color: #002b5c;
        }
    }

  .perguntasFAQ{
    color: white;
   // background-color: $azul;
    padding: 20px;
    border-radius: 20px;
    .perguntasTxt{
      width: 100%;
      text-align: center;
      font-size: 50px;
      font-weight: bold;
      
    }
    p{
      //background-color: #006eff;
      border-radius: 10px;
      padding: 10px;
      margin: 5px;
      
      
      a{
      text-decoration: none;
      font-style: italic;
      color: white; 
      font-size: 20px;
      }
    }
    a:hover{
      color: $azul;
      transition: 0.3s;
      border-bottom: solid 2px white;
    }
  }
}
.busqueCursos{
  width: 100%;
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  >p{
    margin-top: 30px;
    a{
   color: $azul;
    }
  }
  .busqueCursosTxt{
    :nth-child(1){
      font-size: 30px;
      font-style: italic;
      font-weight: bold;
    }
    :nth-child(2){
      margin-top: 10px;
      margin-bottom: 20px;

    }
  }
  .inputPesquisaInicial{
    img{
      width: 40px;
      height: 40px;
      background-color: #f3f3f3;
      padding: 5px;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include mobile{
      width: 90%;
    }

    >div{
      -webkit-box-shadow: 1px 1px 28px -8px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px 1px 28px -8px rgba(0,0,0,0.75);
       box-shadow: 1px 1px 28px -8px rgba(0,0,0,0.75);
       display: flex;
       align-items: center;
       background-color: $azul;
       
       color: white;
       border-radius: 20px;
    }
    p{
      margin: 10px;
    }

    input[type=text]{
      height: 40px;
      width: 300px;
      border: none;
      padding-left: 10px;
      outline: none;
    }
   
  }
}
//}fecha o media screen pra pc

@media screen and (max-width: 740px) {
 .navbarAzul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  .logoPesquisa{
    display: flex;
    flex-direction: row; 
    width: 100%;
    img{
      margin-left: 5px;
    }
    li{
      display: none;
    }
    .logoImg {
      font-size: 20px;
      
      img{
      width: 80px;
      height: 80px;
      margin-right: 5px;
    }
  }
  .listaMenu{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10px;
    
    align-items: center;
    justify-content: center;
    margin: 0px 25px;
    div{
      display: flex;
      height: 3px;
      width: 25px;
      margin: 3px 0px;
      background-color: $azul;
    }
  }
  }
 input{
  display: none;
 }
 ul li{
  display: none;
 }
 }
  
}
