.pagPesquisa{
    display: flex;
    flex-wrap: wrap;

}
.boxPesquisa{
   // float: left;
    margin: 5px 20px;
   // background-color: antiquewhite;
    img{
        width: 400px;
        height: 200px;
        border-radius: 5px;
        margin: 10px 0px;
    }
    img:hover{
        transform: scale(1.1);
    }
    a{
     
        text-decoration: none;
        color: black;
        width: 100%;
        text-align: center;
        font-size: 22px;
    }
}
.pBusca{
    background-color: rgb(255, 255, 255);
    margin-bottom: 40px;
    // height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    margin-top: 30px;
    padding: 20px;
    input[type=text]{
        height: 40px;
        width: 400px;
        padding-left: 5px;
        outline: none;
        font-size: 15px;
        border-radius: 5px;
        border: solid 1px $cor-primaria;
    }
    img{
        height: 100px;
        width: 100px;
    }
}
#result{
    min-height: 20vh ;
}