.container
    display: flex
    flex-direction: column
    justify-content: center
    background-color: transparent

.paulo-freire, .patrono-neves, .projeto
    margin: 0 auto
    display: flex
    width: 1280px
    background-color: white
    border-top: 25px solid #020d3f
    border-radius: 20px

.paulo-freire
    margin: 0 auto
    display: flex
    width: 1280px
    margin-bottom: 10px

    .lado-esquerdo
        width: 40%
        padding: 10px
        background-color: $cor-primaria
        border-bottom-left-radius: 20px 
        img
            width: 100%
            border-radius: 10px
            

    .lado-direito
        padding: 15px
        width: 60% 
        align-items: center
        
        #paulo-freire-texto
            position: relative
            top: 20%
            margin-top: 15px
            font-size: 20px
            text-align: justify
            line-height: 1.8rem
            text-indent: 4rem

.patrono-neves
    margin: 0 auto
    display: flex
    width: 1280px


    .lado-direito
        width: 40%
        padding: 10px
        background-color: $cor-primaria
        img
            width: 100%


    .lado-esquerdo
        padding: 15px
        width: 60% 
        align-items: center
        
        #paulo-freire-texto
            position: relative
            top: 20%
            margin-top: 15px
            font-size: 20px
            text-align: justify
            line-height: 1.8rem
            text-indent: 4rem

