*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Trebuchet MS", Tahoma, sans-serif
.container
    display: flex
    flex-direction: column
    justify-content: center

.paulo-freire, .patrono-neves, .projeto
    margin: 0 auto
    display: flex
    width: 1280px
    border: 3px solid blue

.paulo-freire
    margin: 0 auto
    display: flex
    width: 1280px
    border: 3px solid blue

    .lado-esquerdo
        width: 40%
        padding: 10px
        background-color: lightblue
        img
            width: 100%


    .lado-direito
        padding: 15px
        width: 60% 
        align-items: center
        
        #paulo-freire-texto
            position: relative
            top: 20%
            margin-top: 15px
            font-size: 20px
            text-align: justify
            line-height: 1.8rem
            text-indent: 4rem

.patrono-neves
    margin: 0 auto
    display: flex
    width: 1280px
    border: 3px solid blue

    .lado-direito
        width: 40%
        padding: 10px
        background-color: lightblue
        img
            width: 100%


    .lado-esquerdo
        padding: 15px
        width: 60% 
        align-items: center
        
        #paulo-freire-texto
            position: relative
            top: 20%
            margin-top: 15px
            font-size: 20px
            text-align: justify
            line-height: 1.8rem
            text-indent: 4rem

