@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
$font-primaria: 'Fira Sans', sans-serif;

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: $font-primaria;
    
}

.fundoCinza{
    //margin-top: 50px;
   display: flex;
  
   align-items: center;
   width: 100%;
   flex-direction: column;
  // background-color: $cor-primaria ;
   height: 30vh;
   
   .txt{
    color: white;
    text-align: center;
    align-items: center;
    
     p{
        font-size: 15px;
        margin-top: 30px;
        border-top: 1px solid $cor-primaria;
        padding-top: 5px;
        margin-bottom: 5px;
     }
    h2{
       
        font-size: 30px;
        //border-bottom: solid 1px $cor-primaria;
    }
    text-align: center;
    max-width: 500px;
    margin: 40px;
    border-bottom: solid 1px $cor-primaria;
   }
   .btnInscrevase{
    input[type=button]{
        padding: 1em 2em;
        cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $cor-primaria;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid $cor-primaria;
 // bottom: 10px;
      
}
input[type=button]:hover{
    color: $cor-primaria;
  transform: scale(1.1);
  outline: 2px solid $cor-primaria;
  box-shadow: 4px 5px 17px -4px $cor-primaria;
}
input[type=button]::before{
    content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: $cor-primaria;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;

}
input[type=button]:hover::before{
    width: 250%;
   }
}
}
.videoCurso{
    background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0) 0, rgba(0, 0, 255, 0) 70%, #f3f3f3 30%);
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    >img{
    height: 500px;
    width: 500px;
    border-radius: 5px;
    border: solid 3px $cor-primaria;
    margin-top: 50px;

}
   }
.fundoPreto{
    //border-top: solid 2px $cor-primaria;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    //justify-content: center;
   // text-align: center;
    align-items: center;
    height: 50vh ;
    //justify-content: center;
    width: 100%;
    padding-top: 50px;
    
    .interatividades{
        
        
        justify-content: center;
        align-items: center;
        .imgTxt{
            display: flex;
            justify-content: center;
            align-items: center;
            
        
            
        }
        .txtInt{
            display: flex;
            flex-direction: column;
            
            >p{
               padding-left: 10px;
               max-width: 1000px;
            }
        }
        img{
            max-width: 50px;
            max-height: 50px;
        }
    }
    .txt{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //text-align: center;
        //margin-top: 50px;
        h2{
            margin-bottom: 10px;
           // margin-top: 50px;
        }
    }
}
.fundoCinza2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $cor-primaria;
    border-top: solid 2px $cor-primaria;
    height: 60vh;
    border-bottom: solid 2px $cor-primaria;
    
    h3{
        //margin-top: 40px;
        color: white;
        margin-bottom: 20px;
        font-size: 30px;
    }
    .coment{
        max-height: 100px;
        display: flex;
        flex-direction: column;
        margin: 15px;
        width: 70%;
        //align-items: center;
        justify-content: center;
        background-color: rgb(236, 236, 236);
        padding: 10px 10px 10px 20px;
        border-radius: 10px;
        
        .perfilComent{
            display: flex;
            >p{
                margin-left: 15px;
            }
        }
        
        img{
            border-radius: 100%;
            height:33px;
            width: 33px;
        }
    }
    
}
.fundoPreto2{
    width: 100%;
    height: 60vh;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .btnEntrar{
        input[type=button]{
            padding: 1em 2em;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: $cor-primaria;
      transition: all 1000ms;
      font-size: 15px;
      position: relative;
      overflow: hidden;
      outline: 2px solid $cor-primaria;
      bottom: 10px;
          
    }
    input[type=button]:hover{
        color: $cor-primaria;
      transform: scale(1.1);
      outline: 2px solid $cor-primaria;
      box-shadow: 4px 5px 17px -4px $cor-primaria;
    }
    input[type=button]::before{
        content: "";
      position: absolute;
      left: -50px;
      top: 0;
      width: 0;
      height: 100%;
      background-color: $cor-primaria;
      transform: skewX(45deg);
      z-index: -1;
      transition: width 1000ms;
    
    }
    input[type=button]:hover::before{
        width: 250%;
       }
    }

        img{
            max-width: 500px;
            max-height: 500px ;
        }
}
