@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.pagTodaPerfilAluno {
  font-family: "Fira Sans", sans-serif;
  margin: 20px;
  border-radius: 20px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
}
.pagTodaPerfilAluno .colunaEsquerdaPerfilAluno {
  width: 35%;
  background-color: white;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagTodaPerfilAluno .colunaEsquerdaPerfilAluno .fotoPerfilAluno {
  padding: 10px;
  background-color: #f3f3f3;
  margin: 10px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.pagTodaPerfilAluno .colunaEsquerdaPerfilAluno .fotoPerfilAluno img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.pagTodaPerfilAluno .colunaEsquerdaPerfilAluno .listaAcoesAluno {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f3f3f3;
  padding-bottom: 5px;
}
.pagTodaPerfilAluno .colunaEsquerdaPerfilAluno .listaAcoesAluno > p {
  align-items: center;
  display: flex;
  margin-top: 10px;
  border-bottom: solid 1px #156aaa;
  width: 100%;
}
.pagTodaPerfilAluno .colunaEsquerdaPerfilAluno .listaAcoesAluno img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.direitaPerfilAluno {
  margin: 10px;
  margin-left: 30px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.direitaPerfilAluno .nomeEmailAluno {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}
.direitaPerfilAluno .nomeEmailAluno .nomePerfilAluno :nth-child(1) {
  margin-left: 5px;
}
.direitaPerfilAluno .nomeEmailAluno .nomePerfilAluno :nth-child(2) {
  background-color: #f3f3f3;
  padding: 5px;
  border-radius: 10px;
}
.direitaPerfilAluno .emailPerfilAluno :nth-child(1) {
  margin-left: 5px;
}
.direitaPerfilAluno .emailPerfilAluno :nth-child(2) {
  background-color: #f3f3f3;
  padding: 5px;
  border-radius: 10px;
}
.direitaPerfilAluno .estudosAluno {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.direitaPerfilAluno .estudosAluno .estudosAlunoTxt {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}
.direitaPerfilAluno .estudosAluno .cursandoTerminados {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.direitaPerfilAluno .estudosAluno .cursandoTerminados p {
  margin-bottom: 10px;
}
.direitaPerfilAluno .estudosAluno .cursando {
  text-align: center;
}
.direitaPerfilAluno .estudosAluno .cursando img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.direitaPerfilAluno .estudosAluno .terminados {
  text-align: center;
}
.direitaPerfilAluno .estudosAluno .terminados img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.direitaPerfilAluno .estatAluno .estatAlunoTxt {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.direitaPerfilAluno .estatAluno .resp-perg-aulas-exe {
  background-color: white;
  -moz-columns: 2;
       columns: 2;
  gap: 120px;
  padding: 20px;
  border-radius: 20px;
}
.direitaPerfilAluno .estatAluno .resp-perg-aulas-exe .estPerfilAluno {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}
.direitaPerfilAluno .estatAluno .resp-perg-aulas-exe .estPerfilAluno p {
  margin-top: 5px;
}
.direitaPerfilAluno .descAluno :nth-child(1) {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.direitaPerfilAluno .descAluno :nth-child(2) {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
.direitaPerfilAluno .redeSociaisAluno {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.direitaPerfilAluno .redeSociaisAluno img {
  width: 50px;
  height: 50px;
}/*# sourceMappingURL=telaPerfilAluno.css.map */