.conteiner-video
    margin: 0 auto
    margin-top: 10px
    display: flex
    width: 100%
    background-color: #d6d6d6d2
    padding-left: 5px
    //border-radius: 5px

    .lado-esquerdo // conteudos do lado esquerdo da pagina
        margin-top: 13px
        background-color: $cor-base-website
        width: 30%
        border: 2px solid $cor-primaria 
        background-color: black
        //border-radius: 5px
        
        .conteudo
            h1
                background-color: $cor-primaria
                color: white
                text-align: center
                padding: 10px
                border-radius: 0px 0px 15px 15px
                border-bottom: 2px solid $cor-primaria

            .caixa-cont
                display: flex
                margin: 20px 10px
                color: black
                border: 2px solid $cor-primaria
                border-radius: 4px
                font-size: 20px
                height: 80px
                cursor: pointer

                #thumbAula
                    height: 100%

                .video-button-check
                    border-radius: 0px
                    width: 100%
                    font-size: 23px

                    &:hover
                        color: white
                        background-color: #649614

                    &:focus
                        background-color: green 
        
    .lado-direito // conteudos do lado esquerdo da pagina
        background-color: transparent
        width: 80%
        .conteudo
            margin: 0 auto
            margin-top: 0px
            width: 98%
            padding: 15px
            
            #titulo-aula
                background-color: $cor-primaria
                color: white
                padding: 10px
                width: 100%
            

        .links-inferiores // links abaixo do vídeo
            margin: 10px 0px
            padding: 10px
            border-radius: 10px
            background-color: #120a8f
            ul
                display: flex
                list-style-type: none
                
                a
                    text-decoration: none

                li
                    color: white
                    padding: 10px
                    font-size: 25px

                    &:hover
                        background-color: white
                        color: #120a8f

                    
        .conteudo-inferior   
            background-color: $cor-primaria
            border-radius: 5px
            padding: 20px   
            p
                font-size: 20px
                text-align: justify
                padding: 5px
                color: white

.footer
    height: 1000px
    color: orange


