.container{
    background-color: $cor-base-website;
    margin-top: 30px;

    @include mobile{
        width: 100%;
    }

    .pn{
        color: gray;
        padding: 1rem;
        text-align: center;
        border-bottom: 2px solid $cor-primaria;
    }

    .superior{
        margin: 10px;
        padding: 1em;

        .conteudos{
            display: flex;
            justify-content: space-between;

            @include mobile{
                flex-direction: column;
                justify-content: center;
            }

            .sobre, .listagem, .links, .endereco{
                width: 20%;
                margin: 0px 10px;
                @include mobile{
                    width: 70%;
                }
                h2{
                    font-style: normal;
                    margin-bottom: 10px;
                }
                ul{
                    list-style-type: none;
                    li{
                        margin: 5px 0;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        border-bottom: 3px solid transparent;
                        

                        &:hover{
                            border-bottom: 3px solid $cor-primaria;
                        }
                    }
                    
                }
            }

            .sobre{
                p{
                    text-align: justify;
                }
            }

        }
    }

    .inferior{
        padding: 3em;
        border-top: 2px solid $cor-primaria;
        text-align: center;
    }

}